################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GridDemo/GridDemo/GridDemo/bin/Debug/netstandard2.0
/GridDemo/GridDemo/GridDemo/obj
/GridDemo/GridDemo/GridDemo.Android/obj
/LayoutDemo/LayoutDemo/LayoutDemo/bin/Debug/netstandard2.0
/LayoutDemo/LayoutDemo/LayoutDemo/obj
/LayoutDemo/LayoutDemo/LayoutDemo.Android/obj
/LayoutDemo/LayoutDemo/LayoutDemo.iOS/bin/iPhoneSimulator/Debug
/LayoutDemo/LayoutDemo/LayoutDemo.iOS/obj
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo.Android/obj/Debug
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo.Android/obj
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo.iOS/bin/iPhoneSimulator/Debug
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo.iOS/obj/iPhone/Debug
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo.iOS/obj/iPhoneSimulator/Debug
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo.iOS/obj
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo/bin/Debug/netstandard2.0
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo/obj
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo.Android/obj
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo.iOS/bin/iPhoneSimulator/Debug
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo.iOS/obj/iPhone/Debug
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo.iOS/obj/iPhoneSimulator/Debug
/MessagingCenterDemo/MessagingCenterDemo/MessagingCenterDemo.iOS/obj
/NavigationPageDemo/NavigationPageDemo/NavigationPageDemo/bin/Debug/netstandard2.0
/NavigationPageDemo/NavigationPageDemo/NavigationPageDemo/obj
/NavigationPageDemo/NavigationPageDemo/NavigationPageDemo.Android/obj
/NavigationPageDemo/NavigationPageDemo/NavigationPageDemo.iOS/bin/iPhoneSimulator/Debug
/NavigationPageDemo/NavigationPageDemo/NavigationPageDemo.iOS/obj
/PagesDemo/PagesDemo/PagesDemo.Android/obj
/PagesDemo/PagesDemo/PagesDemo.iOS/bin/iPhoneSimulator/Debug
/PagesDemo/PagesDemo/PagesDemo.iOS/obj
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical/bin/Debug/netstandard2.0
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical/obj/Debug/netstandard2.0
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical/obj
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical.Android/bin/Debug
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical.Android/obj
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical.iOS/bin/iPhoneSimulator/Debug
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical.iOS/obj/iPhone/Debug
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical.iOS/obj/iPhoneSimulator/Debug
/StacklayoutPractical/StacklayoutPractical/StacklayoutPractical.iOS/obj
/Test/Test/Test.Android/obj
/Test/Test/Test.iOS/obj
/Test/Test/Test.UWP/obj
/Test2/Test2/Test2/bin/Debug/netstandard2.0
/Test2/Test2/Test2/obj/Debug/netstandard2.0
/Test2/Test2/Test2/obj
/Test2/Test2/Test2.Android/obj
/Test2/Test2/Test2.iOS/bin/iPhoneSimulator/Debug
/Test2/Test2/Test2.iOS/obj
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo/bin/Debug/netstandard2.0
/PagesDemo/PagesDemo/PagesDemo/bin/Debug/netstandard2.0
/PagesDemo/PagesDemo/PagesDemo/obj
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo/obj/Debug/netstandard2.0
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo/obj/MasterDetailDemo.csproj.nuget.g.targets
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo/obj/MasterDetailDemo.csproj.nuget.g.props
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo/obj/MasterDetailDemo.csproj.nuget.cache
/MasterDetailDemo/MasterDetailDemo/MasterDetailDemo/obj
/AbsoluteLayoutDemo/.vs/AbsoluteLayoutDemo/v15
/AbsoluteLayoutDemo/AbsoluteLayoutDemo/AbsoluteLayoutDemo/obj
/AbsoluteLayoutDemo/AbsoluteLayoutDemo/AbsoluteLayoutDemo.Android/obj
/AbsoluteLayoutDemo/AbsoluteLayoutDemo/AbsoluteLayoutDemo.iOS/obj
